<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>河外趋势网</title>
	<meta content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<!--<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
	<!--<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->

	<!-- vue -->
	<script src="//unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="//unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

	<!-- element-ui -->
	<link rel="stylesheet" href="//unpkg.com/element-ui@2.4.0/lib/theme-chalk/index.css">
	<script src="//unpkg.com/element-ui@2.4.0/lib/index.js"></script>

	<!--&lt;!&ndash; bootstrap-vue &ndash;&gt;-->
	<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.css"/>-->
	<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->
	<!--<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.js"></script>-->
	<!--<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>-->

	<!-- layui -->
	<link rel="stylesheet" href="/plugin/layui/css/layui.css">
	<script src="plugin/layui/layui.all.js"></script>
</head>
<body>
<div id="mainDiv" style="display: none;" v-show="true">
	<el-container>
		<el-header>
			<ul class="layui-nav">
				<li class="layui-nav-item">
					<a href="index" :title="indexTitle">首页</a>
				</li>
				<li class="layui-nav-item">
					<a href="list" :title="indexTitle2">所有节目播放量</a>
				</li>
			</ul>
		</el-header>

		<el-main>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">最近7天播放量</h3>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(programEntityList)}">
				<div class="">
					<div class="">
						<table th:name="${tableName}" class="layui-table">
							<thead>
							<tr>
								<th style="width: 30px">排序</th>
								<th style="width: 20%">名字</th>
								<th>播放量 bilibili</th>
								<th>播放量 youku</th>
								<th>播放量 iqiyi</th>
								<th>播放量 合计</th>
								<th>其他</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="program,info:${programEntityList}">
								<td align="center" th:text="${info.index+1}"></td>
								<!--<td th:text="${program.code}"></td>-->
								<td>
									<span th:text="${program.fullName}"></span>
									<br>
									<span th:text="${program.id}"></span>
								</td>
								<td>
									<div th:with="playDataVo=${indexSiteXNameVo.getValue(playDataConst.SOURCE_KEY_BILIBILI, program.fullName)}">
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.nowPlayTime eq null ? '-' : #dates.format(playDataVo.nowPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.nowPlayCount eq null ? 0 : playDataVo.nowPlayCount) / 10000 + '万'}"></span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preHourPlayTime eq null ? '' : #dates.format(playDataVo.preHourPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.preHourPlayCount eq null ? 0 : playDataVo.preHourPlayCount) / 10000 + '万'}"></span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preDayPlayTime eq null ? '' : #dates.format(playDataVo.preDayPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.preDayPlayCount eq null ? 0 : playDataVo.preDayPlayCount) / 10000 + '万'}"></span>
										</div>
									</div>
								</td>
								<td>
									<div th:with="playDataVo=${indexSiteXNameVo.getValue(playDataConst.SOURCE_KEY_YOUKU, program.fullName)}">
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.nowPlayTime eq null ? '' : #dates.format(playDataVo.nowPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.nowPlayCount eq null ? 0 : playDataVo.nowPlayCount) / 10000 + '万'}"></span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preHourPlayTime eq null ? '' : #dates.format(playDataVo.preHourPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.preHourPlayCount eq null ? 0 : playDataVo.preHourPlayCount) / 10000 + '万'}"></span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preDayPlayTime eq null ? '' : #dates.format(playDataVo.preDayPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.preDayPlayCount eq null ? 0 : playDataVo.preDayPlayCount) / 10000 + '万'}"></span>
										</div>
									</div>
								</td>
								<td>
									<div th:with="playDataVo=${indexSiteXNameVo.getValue(playDataConst.SOURCE_KEY_IQIYI, program.fullName)}">
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.nowPlayTime eq null ? '' : #dates.format(playDataVo.nowPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.nowPlayCount eq null ? 0 : playDataVo.nowPlayCount) / 10000 + '万'}"></span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preHourPlayTime eq null ? '' : #dates.format(playDataVo.preHourPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.preHourPlayCount eq null ? 0 : playDataVo.preHourPlayCount) / 10000 + '万'}"></span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preDayPlayTime eq null ? '' : #dates.format(playDataVo.preDayPlayTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
											<span th:text="${(playDataVo.preDayPlayCount eq null ? 0 : playDataVo.preDayPlayCount) / 10000 + '万'}"></span>
										</div>
									</div>
								</td>

								<td>
									<button class="btn" th:onlick="'getName(\''+${program.id}+'\');'">获得名字</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</el-main>

		<el-footer>
			<a href="index">首页</a>
			<a href="list">所有节目播放量</a>
		</el-footer>
	</el-container>
</div>

<script>


    let data = {};
    $.extend(data, {indexTitle: 'abc title1'});
    $.extend(data, {indexTitle2: 'abc title2'});

    let elementUI = new Vue({
        el: "#mainDiv",
        data: data,
        computed: {
            topNavActive: function () {
                console.log(this.location.href);
                console.log(this.location.search);

                return true;
            }
        }
    });

    // let layuiNav = new Vue({
    //     el: ".layui-nav",
    //     data: {
    //         indexTitle: 'abc title1111',
    //         indexTitle2: 'abc title2222'
    //     },
    //     computed: {
    //         topNavActive: function () {
    //             console.log(this.location.href);
    //             console.log(this.location.search);
    //
    //             return true;
    //         }
    //     }
    // });

    //
    // layuiNav.indexTitle = 'asdasdsad1';
    setTimeout(function () {
        // console.log(layuiNav.indexTitle);
        // layuiNav.indexTitle = 'aaa';
        // console.log(layuiNav.indexTitle)

        elementUI.indexTitle = 'bbb';
    }, 5000);

</script>


</body>
</html>