<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>近期新番播放量总览 - 河外趋势网</title>
	<meta content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<!--<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
	<!--<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->

	<!-- vue -->
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

	<!-- element-ui -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.0/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui@2.4.0/lib/index.js"></script>

	<!--&lt;!&ndash; bootstrap-vue &ndash;&gt;-->
	<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.css"/>-->
	<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->
	<!--<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.js"></script>-->
	<!--<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>-->

	<!-- layui -->
	<link rel="stylesheet" th:href="@{/static/plugin/layui/css/layui.css}" href="../../static/static/plugin/layui/css/layui.css">
	<script th:src="@{/static/plugin/layui/css/layui.css}" src="../../static/static/plugin/layui/layui.all.js"></script>

	<style>
		.count-div span:nth-of-type(1) {
			color: black;
		}

		.count-div span:nth-of-type(2) {
			color: black;
		}

		.count-div span:nth-of-type(3) {
			color: blue;
		}

		.count-div span:nth-of-type(4) {
			color: red;
		}

		.count-div span:nth-of-type(5) {
			color: green;
		}

		.count-div span:nth-of-type(6) {
			color: orange;
		}

		.count-div span:nth-of-type(7) {
			color: magenta;
		}

	</style>
</head>
<body>
<div id="mainDiv" v-show="true">
	<section class="el-container is-vertical">
		<header class="el-header" style="height: 60px;">
			<ul class="layui-nav">
				<li class="layui-nav-item">
					<a href="/">首页</a>
				</li>
				<!--<li class="layui-nav-item">-->
				<!--<a href="list" :title="indexTitle2">所有节目播放量</a>-->
				<!--</li>-->
			</ul>
		</header>

		<main class="el-main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">近期新番播放量总览</h1>
					ps:
					<div class="count-div">
						<span>当前日期</span>
						<br/>
						<span>当前播放量</span>
						<br/>
						<span>当时播放增长量</span>
						<span>当天播放增长量</span>
						<span>当周播放增长量</span>
						<span>当月播放增长量</span>
						<span>当年播放增长量</span>
					</div>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(programEntityList)}">
				<div class="">
					<div class="">
						<table class="layui-table count-table">
							<thead>
							<tr>
								<th style="width: 20px">No.</th>
								<th style="width: 20%">名字</th>
								<th>播放量 合计</th>
								<th>播放量 B</th>
								<th>播放量 Y</th>
								<th>播放量 I</th>
								<th>其他</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="program,info:${programEntityList}">
								<td align="center" th:text="${info.index+1}">序号</td>
								<td>
									<span th:text="${program.fullName}">节目名字</span>
								</td>
								<td>
									<div th:replace="::playCountDiv(${'all'}, ${program.fullName})">同bilibili模板</div>
								</td>
								<td>
									<div th:fragment="playCountDiv(site, programFullName)" th:with="playDataVo=${indexSiteXNameVo.getValue(site, programFullName)}">
										<div class="count-div" th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.nowPlayTime eq null ? '-' : #dates.format(playDataVo.nowPlayTime, 'yyyy-MM-dd HH:mm:ss')}">口口当前日期</span>
											<br/>
											<span th:text="${(playDataVo.formatCount(playDataVo.nowPlayCount))}">当前播放量</span>
											<br/>
											<span th:text="${(playDataVo.getDiffCountFormat(playDataVo.preHourPlayCount))}">前一小时播放量</span>
											<span th:text="${(playDataVo.getDiffCountFormat(playDataVo.preDayPlayCount))}">前一天播放量</span>
											<span th:text="${(playDataVo.getDiffCountFormat(playDataVo.preWeekPlayCount))}">前一周播放量</span>
											<span th:text="${(playDataVo.getDiffCountFormat(playDataVo.preMonthPlayCount))}">前一月播放量</span>
											<span th:text="${(playDataVo.getDiffCountFormat(playDataVo.preYearPlayCount))}">前一年播放量</span>
										</div>
									</div>
									<div th:replace="::playCountDiv(${playDataConst.SOURCE_KEY_BILIBILI}, ${program.fullName})"></div>
								</td>
								<td>
									<div th:replace="::playCountDiv(${playDataConst.SOURCE_KEY_YOUKU}, ${program.fullName})">同bilibili模板</div>
								</td>
								<td>
									<div th:replace="::playCountDiv(${playDataConst.SOURCE_KEY_IQIYI}, ${program.fullName})">同bilibili模板</div>
								</td>

								<td>
									<button class="btn" th:onlick="'getName(\''+${program.id}+'\');'">获得名字</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>

		<footer class="el-footer">
			<div align="center" style="background-color: black;height: 60px;padding: 0 20px;vertical-align: center;">
				<!--<a href="index" style="color: white;">首页</a>-->
				<!--<a href="list" style="color: white;">所有节目播放量</a>-->
				<a href="http://www.miitbeian.gov.cn" style="color: white;">沪ICP备16008261号</a>
			</div>
		</footer>
	</section>
</div>

<script>


    let data = {};
    // $.extend(data, {indexTitle: 'abc title1'});
    // $.extend(data, {indexTitle2: 'abc title2'});

    let elementUI = new Vue({
        el: "#mainDiv",
        data: data,
        computed: {
            topNavActive: function () {
                console.log(this.location.href);
                console.log(this.location.search);

                return true;
            }
        }
    });

    // let layuiNav = new Vue({
    //     el: ".layui-nav",
    //     data: {
    //         indexTitle: 'abc title1111',
    //         indexTitle2: 'abc title2222'
    //     },
    //     computed: {
    //         topNavActive: function () {
    //             console.log(this.location.href);
    //             console.log(this.location.search);
    //
    //             return true;
    //         }
    //     }
    // });

    //
    // layuiNav.indexTitle = 'asdasdsad1';
    setTimeout(function () {
        // console.log(layuiNav.indexTitle);
        // layuiNav.indexTitle = 'aaa';
        // console.log(layuiNav.indexTitle)

        elementUI.indexTitle = 'bbb';
    }, 5000);

</script>

</body>
</html>