# eclipse file
.classpath
.project
.settings
/*/.externalToolBuilders

# idea file
*.iml
.idea
hs_err_pid*.log
replay_pid*.log


# python 设置
.pydevproject


# Package Files #
/**/target


# 运行生成的文件
logs/**
