*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.classpath
.project
MANIFEST.MF
/*/target
/*/.settings
/*/logs


# idea file
*.iml




# vuze的执行临时目录
jcpuid.dll
jbigi.dll
aereg64.dll
Azureus.exe
Azureus.exe.manifest
AzureusUpdater.exe
/*/plugins/