# 本地配置文件
application-local.properties


# maven versions-maven-plugin
pom.xml.versionsBackup


# eclipse file
.classpath
.project
.settings
/*/.externalToolBuilders

# idea file
*.iml
.idea
hs_err_pid*.log
replay_pid*.log
.springBeans


# python 设置
.pydevproject


# Package Files #
/**/target/*.jar
/**/target/*.original
/**/target/classes
/**/target/test-classes
/**/target/generated-sources
/**/target/maven-archiver
/**/target/maven-status
/**/bin

# 运行生成的文件
logs/**
