<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="logs/" />
	<property name="LOG_MSG_PATTERN" value=" %-5level [%-11thread] %class{40} - %msg%n" />
	<property name="LOG_MSG_PATTERN" value=" %-5level [%-11thread] %caller{1} - %msg%n" />
	<property name="LOG_MSG_PATTERN" value=" %-5level [%-11thread] %logger{40} - %msg%n" />
	<property name="LOG_MSG_PATTERN" value=" %-5level [%-11thread] %-40logger{40}:%4L - %msg%n" />

	<property name="LOG_MSG_PATTERN_WITH_DATE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-8relative ${LOG_MSG_PATTERN}" />
	<property name="LOG_MSG_PATTERN_NO_DATE" value="%d{HH:mm:ss.SSS} %-8relative ${LOG_MSG_PATTERN}" />
	<property name="MAX_FILE_SIZE" value="20MB" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 典型的日志pattern -->
		<encoder>
			<pattern>${LOG_MSG_PATTERN_NO_DATE}</pattern>
		</encoder>
	</appender>

	<!-- 演示按时间滚动的策略 -->
	<appender name="defaultLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}framework.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}framework.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 30天数据，默认无限-->
			<maxHistory>7</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_MSG_PATTERN_WITH_DATE}</pattern>
		</encoder>
	</appender>
	
	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="businessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}business-timer.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}business-timer-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_MSG_PATTERN_WITH_DATE}</pattern>
		</encoder>
	</appender>
	
	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="debugLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}debug/debug-timer.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}debug-timer-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_MSG_PATTERN_WITH_DATE}</pattern>
		</encoder>
	</appender>
	
	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="warnLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}warn/warn-timer.log</file>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}warn-timer-%d{yyyy-MM}.%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_MSG_PATTERN_WITH_DATE}</pattern>
		</encoder>
	</appender>
	
	<!-- project default level -->
	<logger name="xie" level="INFO">
		<!-- 
		<appender-ref ref="businessLogFile"></appender-ref>
		 -->
	</logger>
	
	<!-- debug log 使用独立的appender，不继承Root的appender (additivity="false")
	<logger name="xie.animeshotsite.timer.timer.ShotTaskTimer" level="debug" additivity="false">
		<appender-ref ref="debugLogFile" />
	</logger> -->

	<!-- business log 使用独立的appender，不继承Root的appender -->
	<logger name="business" level="INFO" additivity="false">
		<appender-ref ref="businessLogFile" />
	</logger>

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" />

	<!-- springside modules -->
	<logger name="org.springside.modules" level="WARN" />

	<!-- cxf inbound/outbound logger -->
	<logger name="org.apache.cxf.services" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.engine.internal" level="WARN" />
	<logger name="xie.common.exception.ExceptionHandler" level="WARN" />

	<!-- root -->
	<root level="INFO">
		<appender-ref ref="console" />
		<!-- 
		<appender-ref ref="defaultLogFile" /> -->
		<appender-ref ref="businessLogFile" />
		<appender-ref ref="warnLogFile" />
	</root>
</configuration>