<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>河外趋势网</title>
	<meta content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<!--<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
	<!--<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->

	<!-- vue -->
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

	<!-- element-ui -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.0/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui@2.4.0/lib/index.js"></script>

	<!--&lt;!&ndash; bootstrap-vue &ndash;&gt;-->
	<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.css"/>-->
	<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->
	<!--<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.js"></script>-->
	<!--<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>-->

	<!-- layui -->
	<link rel="stylesheet" href="../plugin/layui/css/layui.css">
	<script src="../plugin/layui/layui.all.js"></script>
</head>
<body>
<div id="mainDiv" v-show="true">
	<section class="el-container is-vertical">
		<header class="el-header" style="height: 60px;">
			<ul class="layui-nav">
				<li class="layui-nav-item">
					<a href="index" :title="indexTitle">首页</a>
				</li>
				<li class="layui-nav-item">
					<a href="list" :title="indexTitle2">所有节目播放量</a>
				</li>
			</ul>
		</header>

		<main class="el-main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">最近一个月播放量</h3>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(programEntityList)}">
				<div class="">
					<div class="">
						<table th:name="${tableName}" class="layui-table">
							<thead>
							<tr>
								<th style="width: 30px">排序</th>
								<th style="width: 20%">名字</th>
								<th>播放量 bilibili</th>
								<th>播放量 youku</th>
								<th>播放量 iqiyi</th>
								<th>播放量 合计</th>
								<th>其他</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="program,info:${programEntityList}">
								<td align="center" th:text="${info.index+1}">序号</td>
								<td>
									<span th:text="${program.fullName}">节目名字</span>
									<br>
									<span th:text="${program.id}">节目ID</span>
								</td>
								<td>
									<div th:hidden th:fragment="playCountDiv(site, programFullName)" th:with="playDataVo=${indexSiteXNameVo.getValue(site, programFullName)}">
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.nowPlayTime eq null ? '-' : #dates.format(playDataVo.nowPlayTime, 'yyyy-MM-dd HH:mm:ss')}">口口当前日期</span>
											<span th:text="${(playDataVo.nowPlayCount eq null ? 0 : playDataVo.nowPlayCount) / 10000 + '万'}">当前播放量</span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preHourPlayTimeFormat}">前一小时日期</span>
											<span th:text="${(playDataVo.preHourPlayCount eq null ? 0 : playDataVo.preHourPlayCount) / 10000 + '万'}">前一小时播放量</span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preDayPlayTimeFormat}">口前一天日期</span>
											<span th:text="${(playDataVo.preDayPlayCount eq null ? 0 : playDataVo.preDayPlayCount) / 10000 + '万'}">前一天播放量</span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preWeekPlayTimeFormat}">口前一周日期</span>
											<span th:text="${(playDataVo.preWeekPlayCount eq null ? 0 : playDataVo.preWeekPlayCount) / 10000 + '万'}">前一周播放量</span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preMonthPlayTimeFormat}">口前一月日期</span>
											<span th:text="${(playDataVo.preMonthPlayCount eq null ? 0 : playDataVo.preMonthPlayCount) / 10000 + '万'}">前一月播放量</span>
										</div>
										<div th:if="${playDataVo ne null}">
											<span th:text="${playDataVo.preYearPlayTimeFormat}">口前一年日期</span>
											<span th:text="${(playDataVo.preYearPlayCount eq null ? 0 : playDataVo.preYearPlayCount) / 10000 + '万'}">前一年播放量</span>
										</div>
									</div>
									<div th:replace="::playCountDiv(${playDataConst.SOURCE_KEY_BILIBILI}, ${program.fullName})"></div>
								</td>
								<td>
									<div th:replace="::playCountDiv(${playDataConst.SOURCE_KEY_YOUKU}, ${program.fullName})">同bilibili模板</div>
								</td>
								<td>
									<div th:replace="::playCountDiv(${playDataConst.SOURCE_KEY_IQIYI}, ${program.fullName})">同bilibili模板</div>
								</td>
								<td>
									<div th:replace="::playCountDiv(${'all'}, ${program.fullName})">同bilibili模板</div>
								</td>

								<td>
									<button class="btn" th:onlick="'getName(\''+${program.id}+'\');'">获得名字</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>

		<footer class="el-footer">
			<div align="center" style="background-color: black;height: 60px;padding: 0 20px;vertical-align: center;">
				<!--<a href="index" style="color: white;">首页</a>-->
				<!--<a href="list" style="color: white;">所有节目播放量</a>-->
				<a href="http://www.miitbeian.gov.cn" style="color: white;">沪ICP备16008261号</a>
			</div>
		</footer>
	</section>
</div>

<script>


    let data = {};
    $.extend(data, {indexTitle: 'abc title1'});
    $.extend(data, {indexTitle2: 'abc title2'});

    let elementUI = new Vue({
        el: "#mainDiv",
        data: data,
        computed: {
            topNavActive: function () {
                console.log(this.location.href);
                console.log(this.location.search);

                return true;
            }
        }
    });

    // let layuiNav = new Vue({
    //     el: ".layui-nav",
    //     data: {
    //         indexTitle: 'abc title1111',
    //         indexTitle2: 'abc title2222'
    //     },
    //     computed: {
    //         topNavActive: function () {
    //             console.log(this.location.href);
    //             console.log(this.location.search);
    //
    //             return true;
    //         }
    //     }
    // });

    //
    // layuiNav.indexTitle = 'asdasdsad1';
    setTimeout(function () {
        // console.log(layuiNav.indexTitle);
        // layuiNav.indexTitle = 'aaa';
        // console.log(layuiNav.indexTitle)

        elementUI.indexTitle = 'bbb';
    }, 5000);

</script>

</body>
</html>